.titleD{
	margin-top: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.equal-height{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.item img{
	display: inline-block;
	justify-content: center;
	text-align: center;
	width: 160px !important;
	height: auto;
}
.item p, .item2 p{
	padding: 8px;
}
.item{
	justify-content: space-between;
	height: 400px;
	width: 250px;
	border: 2px solid red;
	margin: 10px;
	text-align: center;
	padding: 10px;
}
.item h2{
	font-size: 22px;
	font-weight: bold;
}
.materials-a{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.item2{
	justify-content: space-between;
	height: 300px;
	width: 250px;
	border: 2px solid red;
	margin: 10px;
	text-align: center;
	padding: 10px;
}
.item2 h2{
	font-size: 22px;
	font-weight: bold;
}
.wrapper-details p{
	display: flex;
	margin-top: 15px;
	text-align: center;
	font-size: 20px;
}