.wrapper-details{

}
.titleD{
	margin-top: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.equal-height{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.item{
	justify-content: space-between;
	height: 400px;
	width: 250px;
	border: 2px solid red;
	margin: 10px;
	text-align: center;
	padding: 10px;
}
.item h2{
	font-size: 22px;
	font-weight: bold;
}
.materials-a{
	display: flex;
	flex-wrap: wrap;
}