html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
html {
  height: 100%;
}
html,
body {
  width: 100%;
  position: relative;
  box-sizing: border-box;
}
body {
  min-height: 100%;
  position: relative;
  font-size: 14px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  text-rendering: optimizeLegibility;
}
article,
iframe,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu {
  display: block;
  margin: 0 auto;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
input {
  color: #313131;
}
input:focus {
  outline: none;
}
input:invalid {
  background-color: #fff;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
label {
  cursor: pointer;
}
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
  color: #313131;
}
textarea:focus {
  outline: none;
}
textarea:invalid {
  background-color: #fff;
}
button:focus {
  outline: 0;
}
button::-moz-focus-inner {
  border: 0;
  padding: 0;
}
button,
input[type=submit],
input[type=button] {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-appearance: none;
}
button {
  border: none;
  background: none;
  cursor: pointer;
}
a {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: 0;
  text-decoration: none;
  font-size: 16px;
  font-weight: 400;
}
svg {
  display: inline-block;
  overflow: hidden;
  width: 100%;
}
img {
  display: block;
}
p {
  white-space: pre-wrap;
  max-width: 900px;
}